<?xml version="1.0" ?>
<menu name="Bumpybox">
	<node type="subMenu" name="Tools">
		<node type="command" name="File Texture Manager" comment="Launch File Texture Manager" cmd="import maya.mel as mel;mel.eval('FileTextureManager;')" mode="python"></node>
		<node type="command" name="Detach/Separate" comment="Execute Detach and Separate" cmd="import maya.mel as mel;mel.eval('detachSeparate;')" mode="python"></node>
		<node type="command" name="kk_symmetry" comment="Execute kk_symmetry" cmd="import maya.mel as mel;mel.eval('kk_symmetry;')" mode="python"></node>
		<node type="command" name="RoadKill" comment="Launch RoadKill plugin" cmd="import maya.mel as mel;mel.eval('RoadKill;')" mode="python"></node>
		<node type="command" name="Bumpybox Rigging Assist" comment="Launch Bumpybox Rigging Assist" cmd="import bbt_maya.bra as bra;reload(bra);bra.GUI()" mode="python"></node>
		<node type="command" name="Bumpybox Animation Tools" comment="Launch Bumpybox Animation Tools" cmd="import bbt_maya.bat as bat;reload(bat)" mode="python"></node>
	</node>
</menu>